{% load socialaccount %}
{% load i18n %}

<div class="dropdown">
    <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
        <i class="bi bi-google"></i> Google
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% provider_login_url 'google' %}">
            <i class="bi bi-box-arrow-in-right"></i> {% trans "Login with Google" %}
        </a></li>
        <li><a class="dropdown-item" href="{% provider_login_url 'google' process='signup' %}">
            <i class="bi bi-person-plus"></i> {% trans "Sign up with Google" %}
        </a></li>
    </ul>
</div>