<!-- templates/partials/load_more_todos.html -->
{% for todo in todos %}
    {% include 'partials/todo_item.html' with todo=todo %}
{% endfor %}

<!-- SIMPLE LOAD MORE BUTTON (will be added after new todos) -->
{% if has_next %}
<div class="text-center mt-3">
    <button class="btn btn-outline-primary btn-sm"
            hx-get="{% url 'todo_app:load_more_todos' %}?page={{ next_page }}"
            hx-target="#todo-items"
            hx-swap="beforeend"
            hx-on:click="this.remove()">
        Load More Todos
    </button>
</div>
{% endif %}